.btn {
  width: 100px;
  height: 100px;
}
.title {
  display: flex;
  margin: 0;
  padding: 0;
  height: max-content;
  width: -webkit-fill-available;
  background-color: aqua;
  position: static;
  justify-content: center;
}
.contain {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  height: max-content;
}
.pagginationBox {
  display: flex;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
}

.paggination {
  display: flex;
  justify-content: center;
}
.pagginationStyle {
  margin-top: 200px;
}

.tstbtn {
  background-color: tomato;
  width: 150px;
  height: 100px;
}
