.contain {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  height: max-content;
}
.paggination {
  display: flex;
  justify-content: center;
}
.pagginationWrapper {
  margin-top: 200px;
}
