.wrapperTop {
  display: flex;
  margin: 15px;
  padding: 2px;
  height: max-content;
  width: -webkit-fill-available;
  background-color: brown;
  position: static;
  display: flex;
  margin-top: 0px;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
.titleName {
  margin-left: 305px;
}
